.schedule-general-info {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  .general-info-item {
    border: 1px  solid #E5E7EE;
    height: 100%;
    align-self: center;
  }
  
}
.schedule-table {
  .schedule-row {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;

    .schedule-item-job {
      padding: 0.5rem;
      // border: 1px  solid #E5E7EE;
      border-bottom: 1px solid #E5E7EE;
      border-left: 1px solid #E5E7EE;
      border-right: 1px solid #E5E7EE;
      position: sticky;
      left: 0;
      background-color: #fff;
      z-index: 2;
    }
    .schedule-item-weekday {
      .day {
        height: 100%;
        margin: 0;
        padding: 10px;
        border: 1px solid #E5E7EE;
        border-top: none;
        border-left: none;
        margin-left: -1px;
        text-align: center;
      }
      .timeslot {
        padding: 5px;
        position: relative;
        border-bottom: 1px solid #E5E7EE;
        border-right: 1px solid #E5E7EE;
      }
    }
  }
  .current-time-indicator {
    background-color: #D53C30;
    width: 1px;
    &::before {
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      background-color: #fff;
      border: 1px solid #D53C30;
      left: -2px;
      border-radius: 50%;
      z-index: 3;
    } 
  }
}