@import 'src/variables.scss';

$avatar-size: 32px;

.job-name-cell {
  &__first-line {
    color: $blue;
    display: block;
    font-weight: 600;
    margin-bottom: 12px;
  }

  &__second-line {
    color: $navy-lighter;
  }
}


.account-cell {
  &__first-line {
    display: block;
    font-weight: 600;
    margin-bottom: 12px;
  }

  &__second-line {
    color: $navy-light;
  }

  &__no-data {
    color: $grey;
  }
}


.status-cell {
  align-items: center;
  background-color: $teal;
  border-radius: 2px;
  color: $white;
  display: flex;
  font-weight: 500;
  height: 26px;
  justify-content: center;
}


.available-resources-cell {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__avatars {
    align-items: center;
    display: flex;
  }

  &__avatar {
    background-size: contain;
    border-radius: 50%;
    border: 2px solid $white;
    display: inline-block;
    height: $avatar-size;
    width: $avatar-size;

    &:not(:first-child) {
      margin-left: -10px;
    }
  }

  &__truncated-resources-wrapper {
    position: relative;
  }

  &__truncated-resources-number {
    align-items: center;
    background-color: $grey-light;
    border-radius: 50%;
    border: 2px solid $white;
    color: $navy-light;
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    font-weight: 600;
    height: $avatar-size;
    justify-content: center;
    margin-left: -10px;
    width: $avatar-size;
  }

  &__truncated-resources-list {
    background: $white;
    border-radius: 3px;
    border: solid 1px $grey-lighter;
    bottom: 0;
    box-shadow: 0 5px 10px 0 rgba(28, 46, 72, .17);
    left: -10px;
    position: absolute;
    transform: translateY(100%);
    width: 170px;
    z-index: 1;

    ul {
      list-style: none;
      padding: 0;

      li {
        align-items: center;
        display: flex;
        padding: 4px 8px;
        width: 100%;

        .available-resources-cell__avatar {
          flex-shrink: 0;
          margin-right: 8px;
        }

        &:hover {
          background-color: $grey-lightest;
        }
      }
    }
  }

  button {
    color: $navy-light;
    font-size: 14px;
    margin: 0;
  }
}
