@import 'src/variables.scss';

.actions-cell {
  display: flex;
  justify-content: space-between;

  >* {
    flex: 0 0 90px;

    >button {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

  >button {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
