@import 'src/variables.scss';

.action-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 5rem;
  justify-content: space-between;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  .react-datepicker-popper {
    z-index: 10;
  }

  &__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 400px;
  }

  &__title {
    color: $navy;
    font-size: 1.125rem;
    font-weight: 600;
  }

  &__items {
    align-items: center;
    display: flex;
    flex-direction: row;
    min-height: 52px;
  }
}
